/* Inicio clases header */
.header {
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  background-color: #0092dd;
  color: #ffffff;
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
}

.header .btn {
  color: #ffffff;
  border-radius: 8px;
  background-color: #0092dd;
  border: none;
}

.header .btn:hover {
  background-color: #0077b5;
}

.dropdown:hover .options-menu {
  display: block;
}

.header .options-menu {
  display: none;
  position: absolute;
  right: 0px;
}

.options-menu  li{
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color 0.3s;
}

.options-menu  li:hover{
  background-color: #f1f0f0;
}
/* Fin clases header */