/* Inicio clases header */
.header {
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  background-color: #0092dd;
  color: #ffffff;
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
}

.header .btn {
  color: #ffffff;
  border-radius: 8px;
  background-color: #0092dd;
  border: none;
}

.header .btn:hover {
  background-color: #0077b5;
}

.dropdown:hover .options-menu {
  display: block;
}

.header .options-menu {
  display: none;
  position: absolute;
  right: 0px;
}

.options-menu  li{
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color 0.3s;
}

.options-menu  li:hover{
  background-color: #f1f0f0;
}
/* Fin clases header */

/* Inicio clases main */
main {
  max-width: 1366px;
  margin: 0px auto;
  padding: 0px 24px;
}

main .welcome {
  margin: 18px 0px 24px;
}

main .logs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.logs .logs--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  column-gap: 32px;
  row-gap: 22px;
}

.logs--grid .more {
  color: #fff;
}
.logs--grid .more:hover {
  color: #fff;
}

main .add {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
.add .add--btn {
  border-radius: 50%;
  font-size: 28px;
  padding: 0px 9px;
  background: rgba(0, 146, 221, .8);
  color: #ffffff;
  border: 0px;
  transition: 0.3s;
}

.add .add--btn:hover {
  transform: scale(1.2);
}
/* Fin clases main */